/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4a0864;
  --ifm-color-primary-dark: #782941;
  --ifm-color-primary-darker: #5a2771;
  --ifm-color-primary-darkest: #35205d;
  --ifm-color-primary-light: #3d3392;
  --ifm-color-primary-lighter: #993599;
  --ifm-color-primary-lightest: #a33cad;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(24, 19, 24, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(24, 29, 29, 0.3);
}
